<footer class="footbgcol">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 py-3">
                <img src="../images/logo.png" alt="" width="180" class="mb-4">
                <p class="opa6">
                <h6>
                    <b>Jouryner</b> is a way to fullfill <br> your dreams to
                    explore world <br> and see its amazing parts
                </h6>
                </p>
            </div>
            <div class="col-lg-4 py-3 d-none d-lg-block">
                <h5 class="footlinkcol">Links</h5>
                <ul class="footlist-unstyle mb-0">
                    <li><a href="../event">Events</a></li>
                    <li><a href="../login">Login</a></li>
                    <li><a href="../comment">Stories</a></li>
                    <li><a href="#">Download</a></li>
                </ul>
            </div>
            <div class="col-12 col-mb-6 col-lg-4 py-3">
                <div class="footContact">
                    <h6 class="text-uppercase mb-2">Contact</h6>
                    <h6 class="mb-2">Vadodara</h6>
                    <p class="font-size-sm opa6">
                        Address : 3rd floor,ABC tower, <br>
                        near Race Course circle , vadodara <br>
                        390014
                    </p>
                    <p class="font-size-sm opa6">Office Timing : 9 AM to 9 PM</p>
                    <p class=" footfontweight"><i class="fa-solid fa-phone"></i>+91 9173497345
                    </p>
                    <p class=" footfontweight"><i class="fa-solid fa-phone"></i>+91 9898457331
                    </p>
                    <a href="../contact" class="footfontweight"><i
                            class="fa-solid fa-envelope"></i>
                        &nbsp ruchirparmar99@gmail.com</a>
                    <ul class="list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#"><i class="fa-brands fa-facebook-f footicon"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa-brands fa-instagram footicon"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa-brands fa-whatsapp footicon"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa-brands fa-youtube footicon"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa-solid fa-location-dot footicon"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="copy_c  py-4">
            @2022 Jouryner. •
            <a href="#"> Privacy Policy </a>•
            <a href="#"> Terms and Condition</a>
        </div>
    </div>
</footer>