<%- include('partials/header') %>

<body>
    <div>
        <%- include('partials/navbar') %>

        <div class="container my-5">
            <h2 style="text-align: center;">About Us</h2>
            <div class="card mt-4" style="width: 100%; box-shadow: 0 0 0.8rem rgb(255, 183, 0)">
                <div class="card-body">
                    <p class="card-text"> <b>Vision</b>
                    <p>Our vision is to give the people affordable tour package.
                        we make pakages for many family to tour together and split the expenses
                        so they all can affoard the trip.
                    </p>

                    <b>Why us ?</b>
                    <p>
                        Jouryner is an award winning travel organization and excels with quality services
                        from its experienced staffs. Over the years the company has received positive feedbacks from its
                        existing clients and hence one can expect a cordial reception.
                    </p>
                    <b>Services we provide</b>
                    <p>
                        Strong Associations with budget and luxury hotels across the country enables us to give our
                        clients their best value for money. This trait of Jouryner, makes it the most
                        attractive tour and travel agency for you. The team is prompt in their replies to your queries,
                        which has earned a reputation as one of the best and most efficient tour and travel operators in
                        India by the clients andoverseas partners.
                    </p>
                    <b>What we do “our tours”:culture-tour</b>
                    <p>
                        <br> 1) Cultural Tours in India:
                        <br> 2) Heritage Tours
                        <br> 3) Adventure Tours in India:
                        <br> 4) Educational Tour
                        <br> 5) Enlightenment Journeys in India:
                        <br> 6) Recreation Holidays in India:
                        <br> 7) Special Interest Journeys in India:
                    </p>
                    <span id="dots">...</span><span id="more">
                        <b> What we provide:</b>
                        <p>
                            <br> => Personalized assistance on arrival & departure.
                            <br> => All sorts of transfer from car to coach in any city in India.
                            <br> => Accommodation in all categories of hotels from budget to 5 Star hotels all over
                            India.
                            <br> => Multilingual guide services.
                            <br> => Escort services.
                            <br> => Air, train and bus tickets.
                            <br> => Sightseeing in comfortable chauffeur driver cars to coaches.
                            <br> => Special cultural theme events if any
                        </p>
                    </span>
                    <button onclick="myFunction()" id="myBtn">Read more</button> </p>

                </div>
            </div>
        </div>


        <%- include('partials/footer') %>
    </div>
</body>

</html>