<%- include('partials/header') %>

<body>
    <div>
        <%- include('partials/navbar') %>

        <div class="container">
            <div>
                <div class="card my-3" style="width: 100%;">
                    <div class="card-body">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p> -->

                            <section class="contact">

                                <div class="content">
                                    <h2>Contact US</h2>
                                    <p>
                                        Exploring the different part of the world is like Exploring yourself
                                    </p>
                                </div>
                        
                                <div>
                                    <div class="contactInfo">
                                        <div class="box">
                                            <div class="icon"><i class="fa-sharp fa-solid fa-location-dot"></i></div>
                                            <div class="text">
                                                <h3>Address</h3>
                                                <p> Address : 3rd floor,ABC tower, <br>
                                                    near Race Course circle , vadodara 
                                                    390014</p>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="icon"><i class="fa-solid fa-phone"></i></div>
                                            <div class="text">
                                                <h3>Phone</h3>
                                                <p>9173497345</p>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                                            <div class="text">
                                                <h3>Email</h3>
                                                <p>ruchirgparmar@gmail.com</p>
                                            </div>
                                        </div>
                                        <h2 class="txt">Connect With us</h2>
                                        <div class="col-md-3 row">
                                            <ul class="sci">
                                                <li class="">
                                                    <a href="#"><i class="fa-brands fa-facebook-f footicon"></i></a>
                                                </li>
                                                <li class="">
                                                    <a href="#"><i class="fa-brands fa-instagram footicon"></i></a>
                                                </li>
                                                <li class="">
                                                    <a href="#"><i class="fa-brands fa-whatsapp footicon"></i></a>
                                                </li>
                                                <li class="">
                                                    <a href="#"><i class="fa-brands fa-youtube footicon"></i></a>
                                                </li>
                                                <li class="">
                                                    <a href="#"><i class="fa-solid fa-location-dot footicon"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                            </section>      
                    </div>
                </div>
            </div>
            
        </div>


        <%- include('partials/footer') %>
    </div>
</body>

</html>